<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="320" name="MobileOptimized">
    <meta content="telephone=no" name="format-detection">
    <title>{$good.name}</title>
    <script async="" src="__PUBLIC__/my/analytics.js"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script src="__PUBLIC__/my/jquery.js"></script>
    <script src="__PUBLIC__/my/swiper-3.4.0.jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="__PUBLIC__/my/clock.js" charset="utf-8"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function() {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        } (window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{$good.px}');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id={$good.px}&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <!-- resource -->
    <link href="__PUBLIC__/newfiles/demo7/styles.css" rel="stylesheet">
    <link href="__PUBLIC__/newfiles/demo7/singleActive.css" rel="stylesheet">
    <link href="__PUBLIC__/newfiles/demo7/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="__PUBLIC__/template/demo/style7.css" rel="stylesheet" type="text/css" />
    <!--  -->
    
     <div class="mod_slider" id="loopImgDiv" style="padding:0;">
        <div class="inner">
            <div class="swiper-container swiper-container-horizontal swiper-container-autoheight">
                <div class="swiper-wrapper" style="height: auto; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-active" style="width: 100%;"><img width="100%" src="{$good.img}"></div>
                </div>
                <div class="swiper-pagination swiper-pagination-custom"><span class="redicon"></span></div>
            </div>
        </div>
    </div>
    <div class="inforContent">
        <div class="i-p-m buyinfo_post" style="position: relative;padding:5px 0;background: #ef3f52">
            <span class="flag1">
                <i class="icon flagicon"></i>
                <span style="margin-top: 7px">限時搶購</span>
            </span>
            <span class="timeWrap">
                距結束
                <span id="timer"><span id="h">08</span><span class="colon">時</span><span id="m">00</span><span class="colon">分</span><span id="s">00</span><span class="colon">秒</span></span>
            </span>
        </div>
        <div class="i-p-top">
            <span class="acticePrice">
                <span></span>
                NT${$good.price}
            </span>
            <span class="oldPrice">
                <span>NT${$good['discount']!=0?$good['price']/$good['discount']:$good['price']}</span>
            </span>
            <span class="daze">{$good['discount']*10}折</span>
        </div>
        <div class="explain_top">{$good.name}</div>
        <div id="here"></div>
    </div>
    <div class="explain">
        <ul>
            <li>【爆款特賣】【免運費】【貨到付款】</li>
        </ul>
    </div>
    <div class="size_box">
        <div class="buy_size" onclick="diaoz()">
            <i class="icon sizeicon"></i>
            <span style="color: #555">選擇&nbsp;&nbsp;顏色/尺碼</span>
            <i class="icon righticon"></i>
        </div>
        <div class="inquiry" onclick="inquiry()">
            <span style="color: #555">查詢訂單</span>
            <i class="icon righticon"></i>
        </div>
    </div>
    <div class="bTop">
        <span class="bTitle bTitle1" style="border: 0px; width: 100%; text-align: center;">圖文詳情</span>
        <a class="pinlun" href="http://www.immrutal.com/#pinlun_content" style="display: none;">買家評價</a>
    </div>
        <div class="detail_info_wrap">
            <div class="detail_list" id="detailCont">
                <div class="detail_item p_desc" id="detail_tab1" style="padding:4px 4px;">
                    <div id="commDesc" class="detail_pc">
                        <!-- 后台商品介绍 开始-->
                        <div class="detail_con">
                        {$good.content}

                            <div></div>
                        </div>

                    </div>
                    <div class="pinlun_content" id="pinlun_content">
                    </div>
                </div>

                <div class="fixednav">
                    <ul class="nav-list">
                        <li>
                            <a href="/index/index/findOrder" class="inquiry"><span>查詢訂單</span></a>
                        </li>
                        <li id="btn_buy">
                            <a href="/index/index/order/id/{$good.id}" class="conbtn">
                                <span>index2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        if ($(".detail_con video").length > 0) {
            $(".detail_con video").attr("poster", "/public/image/videoPlay.jpg");
            $(".detail_con video").click(function () {
                $(this).get(0).play();
            });
        }
        function diaoz() {
            window.location.href = '/index/index/order/id/{$good.id}';
        }
        function inquiry() {
            window.location.href = '/index/index/findOrder';
        }
        $("#btn_buy").click(function () {
        window.location.href="/index/index/order/id/{$good.id}";
    })
    </script>
</body>
</html>
