
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="320" name="MobileOptimized">
    <meta content="telephone=no" name="format-detection">
    <title>2017新品冬季羽絨棉襖</title>
    <meta name="keywords" content="2017新品冬季羽絨棉襖">
    <meta name="description" content="2017新品冬季羽絨棉襖">
    <link rel="stylesheet" href="__PUBLIC__/newfiles/demo1/reset.css">
    <script async="" src="__PUBLIC__/newfiles/demo1/analytics.js"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script src="__PUBLIC__/newfiles/demo1/require.js" alt="theme/style32"></script>
    <script src="__PUBLIC__/newfiles/demo1/cjs.js"></script>
    <script src="__PUBLIC__/newfiles/demo1/jquery-2.2.3.min.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function() {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        } (window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '143464762948647');
        fbq('track', 'PageView');
        fbq('track', 'Purchase', { value: '0.00', currency: 'USD' });
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=143464762948647&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="global" src="__PUBLIC__/newfiles/demo1/global.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="widget" src="__PUBLIC__/newfiles/demo1/Widget.js"></script>
</head>
<body>
    <script>
        fbq('track', 'Purchase');
    </script>
    <!-- base of public -->
    <link rel="stylesheet" href="__PUBLIC__/newfiles/demo1/page-success.css">
    <div class="m-hd">
        <div class="m-topBar">
            <a class="goback" href="/">返回首頁</a>
        </div>
    </div>
    <div class="explain">
        <h1>下單成功</h1>
        <p>恭喜您, 訂單提交成功. 我們已經收到您的訂單,將盡快為您發寄出寶貝.溫馨提示：支持貨到付款+免郵費+7天鑒賞期！收到貨有任何疑問請聯繫我們在線客服! 也可隨時聯繫 : <a href="mailto:service@angeand.com">service@angeand.com</a>。同時請附上您的姓名及聯繫方式及訂單編號在郵件當中，以便我們能快速的給您及時處理，祝您購物愉快！！！</p>
    </div>
    <div class="this_box">
        <div class="m-orderItem">
            <div class="row-1" style="padding-bottom: 0;">
                <div style="width: 50%;float: left">
                    <div class="tips_orderid">訂單時間</div>
                    <div style="font-size: 12px;color: #666;">{$time}</div>
                </div>
                <div style="width: 50%;float: left">
                    <div class="tips_orderid">訂單編號</div>
                    <div style="font-size: 12px;color: #666">
                        {$order_sn}
                    </div>
                </div>
            </div>
            <div class="this_explain">
                <h2>收貨信息</h2>
                <p>{$data['city']} {$data['address']}</p>
                <p>{$data['user']}  &nbsp;&nbsp;&nbsp;{$data['mobile']}</p>
            </div>
            <div style="border-bottom: 1px solid #eee;margin: 20px 0;width: 93%;"></div>
            <div class="row-2">
                <div class="goodImg f-fl">
                    <img src="{$goods.img}" width="64" height="64">
                </div>
                <div class="goodInfo f-fl">
                    <div class="goodName">{$data['goods_name']}</div>
                    <!-- <div class="goodNum"></div> -->
                    <div class="goodName" style="position: absolute;bottom: 5px;right: 16px;text-align: right;color: #666"></div>
                </div>
                <div class="goodStatus f-fr" style="color: #666;font-size: 12px;">
                    <div>
                        <span>套餐數量</span>
                        <span>{$data['good_num']}</span>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .notic_show_combo_product {
                font-size: 12px;
                text-align: center;
                font-weight: bold;
            }

                .notic_show_combo_product span {
                    display: inline-block;
                    font-weight: bold;
                    padding: 5px;
                    border-radius: 4px;
                    background: #eee;
                    color: #666;
                    cursor: pointer;
                    letter-spacing: 1px;
                    width: 90%;
                    margin: 10px 0;
                }

                .notic_show_combo_product .iu:after {
                    content: '';
                }

                .notic_show_combo_product .uu:after {
                    content: '';
                }
        </style>
        <script type="text/javascript">
            $(function(){
                $('#showComboProduct_triggle').click(function(event) {
                    /* Act on the event */
                    $('#showComboProduct_content').slideDown();
                    $(this).hide();
                     $('#showComboProduct_triggle2').show();
                });
                $('#showComboProduct_triggle2').click(function(event) {
                    /* Act on the event */
                    $('#showComboProduct_content').slideUp();
                    $('#showComboProduct_triggle').show();
                    $('#showComboProduct_triggle2').hide();
                });
            })
        </script>
        <!-- 套餐包含产品 -->
        <div class="m-goodItems" style="display:none;" id="showComboProduct_content">
            <!--产品套餐属性-->
            <div style = "padding:0 10px">
                <div class="row-2" style="padding-top: 5px;padding-left: 36px;position:relative;">
                    <div class="goodImg f-fl">
                        <img src = "{$goods['color'][$data['color']]['img']}" width="32" height="32" style=" border-radius: 4px;overflow: hidden;border: 1px solid #eee;">
                    </div>
                <div class="goodInfo f-fl u3" style="width: 70%;margin-top: 0px;">
                <div class="goodName" style="font-size:12px;color: #aaa;margin-left: 16px;">{$data.color} {$data.good_size}</div>
                    <div style = "position:absolute;right:6px; font-size: 12px;color: #666;text-align: right">
                        <span> x </span><span> {$data.good_num} </span>
                    </div>
                </div>
                </div>
            </div>
            <div style = "padding:0 10px">
                <div class="row-2" style="padding-top: 5px;padding-left: 36px;position:relative;">
                    <div class="goodImg f-fl">
                        <img src = "{$goods['gift_color'][$data['gift_color']]['img']}" width="32" height="32" style=" border-radius: 4px;overflow: hidden;border: 1px solid #eee;">
                    </div>
                    <div class="goodInfo f-fl u3" style="width: 70%;margin-top: 0px;">
                        <div class="goodName" style="font-size:12px;color: #aaa;margin-left: 16px;">{$data.gift_color} {$data.gift_size}</div>
                            <div style = "position:absolute;right:6px; font-size: 12px;color: #666;text-align: right">
                                <span> x </span><span> {$data.gift_num} </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        <div class="notic_show_combo_product" id="showComboProduct_triggle">
            <span class="iu">查看套餐包含產品<img src="/newfiles/demo1/down14px.png" style="position: absolute;margin-left: 4px; width: 14px; height: 14px; margin-top: 3px;" alt=""></span>
        </div>
        <div class="notic_show_combo_product" id="showComboProduct_triggle2" style="display:none;">
            <span class="uu">隱藏套餐包含產品<img src="/newfiles/demo1/down14px.png" style="transform:rotate(180deg);margin-left:4px;position: absolute; width: 14px; height: 14px; margin-top: 3px;" alt=""></span>
        </div>
        <!-- 套餐包含产品 -->

    </div>

    <div class="m-orderItem">
        <div class="row-2" style="padding-bottom: 50px;">
            <div>
                <span class="tips">付款方式 :</span><span class="tips2"></span>
            </div>
            <div>
                <span class="tips">商品合計 :</span>
                <span class="tips2">
                    NT${$data.total_price}
                </span>
            </div>
            <div>
                <span class="tips">運費 :</span>
                <span class="tips2">
                    NT$0.00
                </span>
            </div>
            <div>
                <span class="tips">實付 :</span>
                <span class="tips2" style="color: #ff5a5f;font-weight: bold;">
                    NT${$data.total_price}
                </span>
            </div>
        </div>
    </div>
    <div class="timetips">
        <ul>
            <li><img src="/newfiles/demo1/7day.png" alt="">7天鑒賞期</li>
            <li><img src="/newfiles/demo1/huodao.png" alt="">貨到付款</li>
        </ul>
    </div>
    <!-- 成功页面统计 -->

</body>
</html>